In [1]:
a = [1,2,3,4,5,6,7,8,9,10]

b = list(map(lambda x:x**2, a))
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
c = [i**2 for i in a if i%2==0]
c

[4, 16, 36, 64, 100]

In [5]:
d = 'my name is kishan'
print(d.split())

['my', 'name', 'is', 'kishan']

In [6]:
d = 'my name is kishan'
print('-'.join(d))

m-y- -n-a-m-e- -i-s- -k-i-s-h-a-n

In [7]:
string = "Python is awesome and Python is easy to learn"
print(string.find("Python"))  # Output: 0 (index of first occurrence)
print(string.count("Python"))  # Output: 2 (number of occurrences)

0
2

In [8]:
string = "   Hello, World!   "
stripped_string = string.strip()
print(stripped_string)  # Output: Hello, World!

Hello, World!

In [9]:
d = ['my','name','kishan']
print('-'.join(d))

my-name-kishan

In [10]:
def bold(func):
    def wrapper():
        return "<b>" + func() + "</b>"
    return wrapper

def italic(func):
    def wrapper():
        return "<i>" + func() + "</i>"
    return wrapper

@bold
@italic
def say_hello():
    return "Hello!"

print(say_hello())

<b><i>Hello!</i></b>

In [11]:
def debug(func):
    def wrapper(*args, **kwargs):
        args_repr = [repr(a) for a in args]
        kwargs_repr = [f"{k}={v!r}" for k, v in kwargs.items()]
        signature = ", ".join(args_repr + kwargs_repr)
        print(f"Calling {func.__name__}({signature})")
        result = func(*args, **kwargs)
        print(f"{func.__name__} returned {result!r}")
        return result
    return wrapper

class Calculator:
    @debug
    def add(self, a, b):
        return a + b

calc = Calculator()
calc.add(2, 3)

Calling add(<__main__.Calculator object at 0x00000196578BFD30>, 2, 3)
add returned 5

5

In [13]:
import pandas as pd

data = {'date': pd.date_range('2024-01-01', periods=10),
        'value': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

# Calculate the rolling sum of the 'value' column over a window size of 3
df['rolling_sum'] = df['value'].rolling(window=3).sum()
print(df)

        date  value  rolling_sum
0 2024-01-01      1          NaN
1 2024-01-02      2          NaN
2 2024-01-03      3          6.0
3 2024-01-04      4          9.0
4 2024-01-05      5         12.0
5 2024-01-06      6         15.0
6 2024-01-07      7         18.0
7 2024-01-08      8         21.0
8 2024-01-09      9         24.0
9 2024-01-10     10         27.0

In [14]:
# Calculate the rolling mean of the 'value' column over a window size of 2
df['rolling_mean'] = df['value'].rolling(window=2).mean()

# Calculate the expanding sum of the 'value' column
df['expanding_sum'] = df['value'].expanding().sum()

# Calculate the cumulative maximum of the 'value' column
df['cum_max'] = df['value'].cummax()

print(df)

        date  value  rolling_sum  rolling_mean  expanding_sum  cum_max
0 2024-01-01      1          NaN           NaN            1.0        1
1 2024-01-02      2          NaN           1.5            3.0        2
2 2024-01-03      3          6.0           2.5            6.0        3
3 2024-01-04      4          9.0           3.5           10.0        4
4 2024-01-05      5         12.0           4.5           15.0        5
5 2024-01-06      6         15.0           5.5           21.0        6
6 2024-01-07      7         18.0           6.5           28.0        7
7 2024-01-08      8         21.0           7.5           36.0        8
8 2024-01-09      9         24.0           8.5           45.0        9
9 2024-01-10     10         27.0           9.5           55.0       10

In [15]:
import pandas as pd

# Assuming you have a DataFrame named 'data' with columns 'name', 'age', and 'city'
# Example data:
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank'],
        'age': [25, 30, 28, 35, 27, 33],
        'city': ['New York', 'New York', 'Los Angeles', 'Los Angeles', 'Chicago', 'Chicago']}

df = pd.DataFrame(data)

# Using pandas to calculate rank over partition by city ordered by age
df['rank'] = df.groupby('city')['age'].rank(method='dense')

# Selecting name and rank columns
result = df[['name', 'rank']]

print(result)

      name  rank
0    Alice   1.0
1      Bob   2.0
2  Charlie   1.0
3    David   2.0
4     Emma   1.0
5    Frank   2.0

In [ ]:
can you convert this query to pandas " select name, dense_rank() over(partition by city, country order by age desc)

In [16]:
import pandas as pd

# Example DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank'],
        'age': [25, 30, 28, 35, 27, 33],
        'city': ['New York', 'New York', 'Los Angeles', 'Los Angeles', 'Chicago', 'Chicago'],
        'country': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA']}

df = pd.DataFrame(data)

# Using pandas to calculate dense rank over partition by city and country ordered by age in descending order
df['dense_rank'] = df.groupby(['city', 'country'])['age'].rank(method='dense', ascending=False)

# Selecting name and dense_rank columns
result = df[['name', 'dense_rank']]

print(result)

      name  dense_rank
0    Alice         2.0
1      Bob         1.0
2  Charlie         2.0
3    David         1.0
4     Emma         2.0
5    Frank         1.0

In [ ]:
can you convert this query to pandas " select name, sum(age) over(partition by city, country order by age desc)

In [20]:
import pandas as pd

# Example DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank'],
        'age': [25, 30, 28, 35, 27, 33],
        'city': ['New York', 'New York', 'Los Angeles', 'Los Angeles', 'Chicago', 'Chicago'],
        'country': ['USA', 'USA', 'USA', 'USA', 'USA', 'USA']}

df = pd.DataFrame(data)

# Calculate the sum of age within each group defined by city and country, ordered by age in descending order
df['sum_age'] = df.groupby(['city', 'country'])['age'].transform(lambda x: x.sort_values(ascending=False).cumsum())

# Selecting name and sum_age columns
result = df[['name','country', 'city','age','sum_age']]

print(result)

      name country         city  age  sum_age
0    Alice     USA     New York   25       55
1      Bob     USA     New York   30       30
2  Charlie     USA  Los Angeles   28       63
3    David     USA  Los Angeles   35       35
4     Emma     USA      Chicago   27       60
5    Frank     USA      Chicago   33       33

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, col

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Window Function Example") \
    .getOrCreate()

# Example DataFrame
data = [('Alice', 25, 'New York', 'USA'),
        ('Bob', 30, 'New York', 'USA'),
        ('Charlie', 28, 'Los Angeles', 'USA'),
        ('David', 35, 'Los Angeles', 'USA'),
        ('Emma', 27, 'Chicago', 'USA'),
        ('Frank', 33, 'Chicago', 'USA')]

columns = ['name', 'age', 'city', 'country']

df = spark.createDataFrame(data, columns)

# Define the window specification
window_spec = Window.partitionBy('city', 'country').orderBy(col('age').desc())

# Apply the window function to calculate the sum of age within each partition
result = df.withColumn('sum_age', sum(col('age')).over(window_spec))

# Selecting name and sum_age columns
result.select('name', 'sum_age').show()

# Stop the SparkSession
spark.stop()

In [ ]:
can you convert this query to pyspark" select name, dense_rank() over(partition by city, country order by age desc)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import dense_rank, col

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Window Function Example") \
    .getOrCreate()

# Example DataFrame
data = [('Alice', 25, 'New York', 'USA'),
        ('Bob', 30, 'New York', 'USA'),
        ('Charlie', 28, 'Los Angeles', 'USA'),
        ('David', 35, 'Los Angeles', 'USA'),
        ('Emma', 27, 'Chicago', 'USA'),
        ('Frank', 33, 'Chicago', 'USA')]

columns = ['name', 'age', 'city', 'country']

df = spark.createDataFrame(data, columns)

# Define the window specification
window_spec = Window.partitionBy('city', 'country').orderBy(col('age').desc())

# Apply the dense_rank() window function to calculate the dense rank of age within each partition
result = df.withColumn('dense_rank', dense_rank().over(window_spec))

# Selecting name and dense_rank columns
result.select('name', 'dense_rank').show()

# Stop the SparkSession
spark.stop()

In [ ]:
import pandas as pd

# Read the JSON file into a pandas DataFrame
df = pd.read_json('your_json_file.json')

# Display the DataFrame
print(df)
import pandas as pd
import json


# Read the JSON file
with open('your_json_file.json') as f:
    data = json.load(f)

# Flatten the JSON data
flattened_data = pd.json_normalize(data)

# Create a DataFrame
df = pd.DataFrame(flattened_data)

# Display the DataFrame
print(df)

In [21]:
hi! How can I help you?

Object `you` not found.

In [ ]:
hi! How can I help you

In [ ]:
tell me

In [ ]:
hello i am kishan and how can i help you

In [ ]:
https://blog.hubspot.com/website/decorators-in-python#:~:text=Decorators%20are%20a%20powerful%20and,caching%2C%20logging%2C%20or%20authentication.

In [ ]:
Types of Decorators in Python

Function Decorator
Class Decorator
decorator with arguments

In [22]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

say_hello()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

In [23]:
def my_class_decorator(cls):
    class NewClass(cls):
        def __init__(self, *args, **kwargs):
            print("Something is happening before initializing the class.")
            super().__init__(*args, **kwargs)
            print("Something is happening after initializing the class.")
    return NewClass

@my_class_decorator
class MyClass:
    def __init__(self, name):
        self.name = name

obj = MyClass("John")
print(obj.name)

Something is happening before initializing the class.
Something is happening after initializing the class.
John

In [24]:
def my_decorator_with_args(arg1, arg2):
    def decorator(func):
        def wrapper(*args, **kwargs):
            print(f"Decorator arguments: {arg1}, {arg2}")
            func(*args, **kwargs)
        return wrapper
    return decorator

@my_decorator_with_args("arg1_value", "arg2_value")
def say_hello(name):
    print(f"Hello, {name}!")

say_hello("Alice")

Decorator arguments: arg1_value, arg2_value
Hello, Alice!

In [25]:
class Animal:
    def __init__(self, name, sound):
        self.name = name
        self.sound = sound
    
    def make_sound(self):
        print(f"{self.name} makes {self.sound} sound.")

class Dog(Animal):
    def __init__(self, name):
        super().__init__(name, "bark")

class Cat(Animal):
    def __init__(self, name):
        super().__init__(name, "meow")

# Creating instances of subclasses
dog = Dog("Buddy")
cat = Cat("Whiskers")

# Using methods inherited from the superclass
dog.make_sound()  # Output: Buddy makes bark sound.
cat.make_sound()  # Output: Whiskers makes meow sound.

Buddy makes bark sound.
Whiskers makes meow sound.

In Python, `super()` is a built-in function used to call methods and access attributes from the parent class (superclass) within a subclass. In the context of `super().__init__(name, "bark")`, `super()` is used to call the constructor (`__init__` method) of the superclass (`Animal` in this case) with the provided arguments `name` and `"bark"`.

So, `super().__init__(name, "bark")` is calling the constructor of the superclass `Animal` with the arguments `name` and `"bark"`. This allows the `Dog` class to initialize its instances (`Dog` objects) using the initialization logic defined in the `Animal` class while also providing specific values for the `name` and `sound` attributes.

In other words, it's a way to reuse the initialization logic defined in the superclass, avoiding code duplication in subclasses.